
{% extends "::base.html.twig" %}
{% block title categories|title %}
{%  block body %}
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <h1>Gestion des catégories</h1>
            <div class="well">
                <form method="post" {{ form_enctype(formCreateCat) }}>
                    {{ form_widget(formCreateCat) }}
                </form>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h1>Litse des Catégories</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <h1>Gestion des services</h1>
            <div class="well">
                <form method="post" {{ form_enctype(formCreateServ) }}
                {{ form_widget(formCreateServ) }}
            </div>
            <div class="col-lg-4 col-md-4">
                <h1>Litse des Services</h1>
            </div>
        </div>
    </div>

{%  endblock %}
