
{% extends "::base.html.twig" %}
{% block title %}Invoices {% endblock %}
{#{% block navbar|navbar %}#}
{% block body %}

    <h1>Gestion des {{ block('title') }}</h1>

    <div class="row">

        {{ dump() }}
        <div class="col-lg-4 col-md-4">
            <h2>Liste des Facture</h2>
        </div>

        <div class="col-lg-4 col-md-4">
            <h2>Liste des clients / Tiers</h2>
        </div>

        <div class="col-lg-4 col-md-4">
            <h2>Création Facture</h2>
        </div>
    </div>

{% endblock %}
