
{% extends "::base.html.twig" %}
{% block title %}Invoices {% endblock %}
{#{% block navbar|navbar %}#}
{% block body %}

    <div class="row">
        <h1>Gestion des Invoices</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <br>
        {{ Erreur|default('-') }}
    </div>

{% endblock %}
