<!DOCTYPE html>
<html>
    <head>
        <title>Gestion des utilisateurs Dolibarr</title>
    </head>
    <body>
        <h1>Gestion des utilisateurs Dolibarr</h1>
        <p>{{ response{'headers'}   }}</p>
    </body>
</html>
